body {
  font-family: monospace;
  background-color: #f7f7f7;
  margin: 0px;
  padding: 0px;
  
}

.container {
  margin: auto;
}
.img {
  width: 100%;
}
/* Header */
#main-header .fa {
  font-size: 25px;
}
.nav-bar li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
  color: gray;
}
.nav-bar a {
  margin-top: 20px;
  list-style: none;
  text-decoration: none;
  color: #888;
  text-transform: uppercase;
}

.nav-bar li.current a,
.nav-bar a:hover {
  color: gray;
}

/* Main Search Area */

.logo-img {
  width: 250px;
  padding-bottom: 5%;
  padding-top: 7%;
}

.input-box {
  width: 80%;
  height: 30px;
}

.input-btn {
  position: absolute;
  height: 36px;
  width: 40px;
  background-color: #f7f7f7;
}
#search-area p {
  font-size: 18px;
  padding-top: 2%;
  color: #9a9a9a;
  padding-bottom: 350px;
}
/* Feature 1 */
#feature-1 {
  background-color: #58b792;
}
#feature-1 h1 {
  color: #ffff;
  font-size: 44px;
}
#feature-1 p {
  color: #f7f7f7;
  font-size: 20px;
}
.btn1 {
  color: #f7f7f7;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
  margin: 25px 0px 0px;
  padding: 12px 16px;
}
.logo-f1 {
  width: 963px;
  height: 344px;
  padding-top: 13%;
}
